.App {
  text-align: center;
}

.App-container{
  background-image: url("/public/ancient.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  
}

.App-background{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-main{
  width: calc(90%);
  background-color: rgba(255, 255, 255, 0.474);
  box-shadow: 0px -5px 30px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-image: url("/public/forest.jpg");
  background-position:left center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  margin-top: 20px;
}
.App-topbg{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.App-top{
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}

.App-header {
  font-size: calc(4rem);
  color: white;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
}
@media (min-width: 200px){
  .App-header{
    font-size: calc(3rem);
  }
}
.App-top p{
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 60%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.App-bottombg{
  background-color: white;
  min-height:400px;
  border-radius: 15px;
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.5);
  padding-bottom: 5px;
}

.App-bottom{
  min-height: 50%;
}

.App-tasklist header{
  font-size: 3rem;
  text-align: center;
}
.Prompt-container{
  text-align: center;
}
.Prompt-container input{
  text-align: center;
  border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    padding: 5px;
}
button{
  padding: 5px;
  background-color: rgb(75, 0, 128);
  color: white;
  /* outline-style: none; */
  border-color: black;
  border-radius: 2px;
  border-style: solid;
  padding: 10px;
  border-radius: 15px;

}
